.container {
    display: flex;
    justify-content: center;
    margin: 200;
    
}
.box {
    height: 400px;
    width: 500px;
    background-color:#D72C16;
    text-align: center; 
    border-radius: 20px;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 30;
    margin-top: 50;
}
#para {
    height: 40;
    width: 400;
    background-color:#ffffff;
    color: #D72C16;
    margin: 50;
}
.button {
    display: flex;
    flex-direction: row;
    margin-left: 110;
    margin-right: 110;
    justify-content: space-between;
}
#s {
    background-color: #ffffff;
    border-color:#ffffff;
    color: #D72C16;
    font-size: large;
}
#number1,#number2 {
    background-color: #ffffff;
    color: #D72C16;
}
